body{

margin:0;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

background:#0b1725;

color:white;

font-family:sans-serif;

}

.player{

background:#183149;

padding:30px;

border-radius:15px;

text-align:center;

}

button{

font-size:20px;

padding:10px 20px;

cursor:pointer;

}
