.visualizer{

margin-top:18px;

height:35px;

display:flex;

justify-content:center;

align-items:flex-end;

gap:4px;

}

.visualizer span{

width:8px;

height:8px;

border-radius:10px;

background:#00d4ff;

transition:.15s;

}

.buttons{

margin-top:15px;

}

#mini{

width:70px;

}

.mini{

width:70px!important;

padding:10px!important;

}

.mini .song,
.mini .title,
.mini .volumeBox{

display:none;

}

.mini button{

font-size:14px;

padding:8px;

}
